.client-section {
  max-width: 1110px;
  @include margin-auto-top;
  margin-bottom: 100px;
  display: flex;
  @include wrap-center(center);
  &__title{
    text-align: center;
    width: 800px;
    @include heading;
    margin-bottom: 25px;
  }
  &__subtitle {
    @include subtitle;
    text-align: center;
    width: 800px;
    margin-bottom: 25px;
  }
  &__clients {
    width: 100%;
    @include flex-space;
  }
}

@media (max-width: 1200px) {
  .client-section {
    max-width: $responsive-large;
    &__clients {
      display: grid;
      grid-template-columns: 20% 20% 15%;
      grid-template-rows: 50% 50%;
      justify-content: space-between;
    }
  }
}

@media (max-width: 992px) {
  .client-section {
    max-width: $responsive-medium;
    &__clients {
      display: grid;
      grid-template-columns: 30% 30% 20%;
      grid-template-rows: 50% 50%;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .client-section {
    max-width: $responsive-small;
    &__clients {
      display: grid;
      grid-template-columns: 50% 50% ;
      grid-template-rows: 50% 50%;
      justify-content: space-between;
    }
  }
}

@media (max-width: 480px) { 
  .client-section {
    margin: 40px auto;
    max-width: $responsive-xtra-small;
    &__clients {
      display: flex;
      flex-wrap: wrap;
    }
  }
}