.facilites-section {
  @include alignment-block;
  padding-top: 100px;
  &__intro {
    width: 240px;
    height: 30px;
    @include intro-bar;
  }
  &__title {
    max-width: 50%;
    font-size: 40px;
    @include heading;
  }
  &__menu {
    display: flex;
    margin-top: 50px;
  }
  &__list {
    width: 40%;
     ul {
      margin-left: 0; 
      padding-left: 0; 
    }
    li {
      display: flex;
      padding-left: 20px;
      list-style-type: none;
      height: 72px;
      width: 293px;
      font-size: 20px;
      align-items: center;
      justify-content: start;
      &:hover {
        background: $brand-color-orange;
        color: #fff;
        -webkit-box-shadow: 5px 5px 17px -5px $brand-color-orange; 
        box-shadow: 5px 5px 17px -5px $brand-color-orange;
      }
    }
  }
  &__image {
    margin-right: 20px;
  }
}

@media (max-width: 1200px) {
  .facilites-section {
    max-width: $responsive-large;
    &__list {
      width: 30%;
    }
    &__image img {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .facilites-section {
      max-width: $responsive-medium;
      &__title {
        max-width: 700px;
        text-align: center;
      }
      &__list {
        width: 350px;
        li {
          margin: auto;
          height: 30px;
          text-align: center;
          font-size: 1rem;
        }
      }
      &__image img {
        width: 350px;
      }
  }
}

@media (max-width: 768px) {
  .facilites-section {
    max-width: $responsive-small;
    &__title {
      max-width: 400px;
      font-size: 1.7rem;
      text-align: left;
    }
    &__list {
      width: 200px;
      li {
        width: 180px;
        margin: auto;
        height: 30px;
        text-align: center;
        font-size: 1rem;
      }
    }
    &__image {
      display: grid;
      align-items: center;
    img {
      width: 200px;
    }
  }
}
}

@media (max-width: 480px) {
  .facilites-section {
    max-width: $responsive-xtra-small;
    padding-top: 30px;
    &__menu {
      margin: 0;
    }
    &__list {
      width: 100%;
      & ul {
        color: #fff;
        text-shadow: black 1px 5px 5px;
        background-size: cover;
        background-image: url('../assets/image6.webp');
      }
    }
    &__image {
      display: none;
    }
  }
}