.faq-section {
  max-width: 1120px;
  
  display: grid;
  @include margin-auto-top;
  &__title {
    @include heading;
    font-size: 40px;
    width: 578px;
    margin: 0 auto 90px;
  }
  &__links {
    @include flex-space;
  }
  &__button {
    margin: auto;
    display: grid;
    width: 150px;
    color: $brand-color-orange;
    
    grid-template-columns: 120px 10px;
  }
  .faq-link {
    width: 350px;
    height: 203px;
    -webkit-box-shadow: 5px 4px 14px -4px #868686; 
    box-shadow: 5px 4px 14px -4px #868686;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
    margin-bottom: 35px;
    &__title {
      width: 270px;
      height: 171px;
      font-size: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Lora', serif;
    }
    &__button {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 64px;
      height: 48px;
      background: $brand-color-orange;
      -webkit-box-shadow: 5px 4px 14px -4px #868686; 
      box-shadow: 5px 4px 14px -4px #868686;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background: $brand-color-orange;
      .faq-link{
        &__title {
          color: #fff;
        }
        &__button {
          background: #fff;
          color: $brand-color-orange;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .faq-section {
    max-width: $responsive-large;
    display: block;
    &__links {
      @include wrap-center(space-around)
    }
  }
}

@media (max-width: 768px) {
  .faq-section {
    max-width: $responsive-small;
    &__title {
      width: 100%;
      font-size: 1.5rem;
    }
    &__links {
      @include wrap-center(space-around)
    }
  }
}

@media (max-width: 480px) {
  .faq-section {
    max-width: $responsive-xtra-small;
  }
}