.footer {
  width: 100%;
  height: 300px;
  background: $dark-blue;
  color: #fff;
  padding-top: 50px;
  &__wrapper {
    max-width: 1110px;
    margin: auto;
    display: grid;
    grid-template-columns: 24% 70%;
    justify-content: space-between;
  }
  &__container {
    height: 235px;
    display: grid;
    justify-content: space-between;
    &_list {
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 52px;
    line-height: 67px;
    font-family: 'Lora', serif;
  }
  &__text {
    line-height: 26px;
  }
  &__socials {
    font-size: 24px;
    width: 104px;
    @include flex-space;
    align-items: flex-end;
    :hover {
      color: $brand-color-orange;
    }
  }
  &__column {
    label {
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
      opacity: 0.5;
    }
    li {
      line-height: 26px;
      color: #FFFFFF;
      margin: 9px auto;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &__wrapper {
      width: $responsive-large;
    }
    &__container_list {
      font-size: 0.8rem;
    }
  }
}


@media (max-width: 992px) {
  .footer {
    &__wrapper {
      width: $responsive-medium;
      font-size: 0.8rem;
    }
    &__container_list {
      display: grid;
      grid-template-columns: 50% 50%;
      li {
        line-height: 16px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    &__wrapper {
      width: $responsive-small;
      display: flex;
      flex-wrap: wrap;
    }
    &__container_list {
      margin-top: 10px;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    &__wrapper {
      max-width: $responsive-xtra-small;
    }
  }
}