.gallery-section {
  @include alignment-block;
  margin-top: 100px;
  &__intro {
    @include intro-bar(260px);
  }
  &__head {
    width: 960px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    position: absolute;
    z-index: 9999;
  }
  .slider-for {
    position: absolute;
    width: 40%;
    z-index: 6996;
  }
  &__title {
    @include heading;
    font-size: 40px;
  }
  @include arrows;
  .gallery-slider {
    &__wrapper {
      height: 350px;
      width: 350px;
      margin: auto;
      margin-top: 200px;
    }
    &__slide {
      .gallery-wrapper {
        &_first {
          background-image: url('../assets/image4.webp');
          
        }
        &_second {
          background-image: url('../assets/image5.webp');
        }
        &_third {
          background-image: url('../assets/image3.webp');
        }
        &_fourth {
          background-image: url('../assets/image6.webp');
        }
        &_fifth {
          background-image: url('../assets/image1.webp');
        }
      }
    }

    .slick-select {
      .gallery-slider__wrapper {
        margin: auto;
        background-size: cover;
        height: 606px;
        width: 445px;
      }
    }
  }
}

@media (max-width: 991px) {
  .gallery-section {
    max-width: $responsive-medium;
    &__head {
      position: relative;
      width: 700px;
      justify-content: start;
    }
    .gallery-slider {
      &__wrapper {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery-section {
    max-width: $responsive-small;
    &__title {
      font-size: 1.5rem;
    }
    .gallery-slider {
      &__wrapper {
        margin-top: 0;
      }
    }
    @include arrows-size;
  }
}

@media (max-width: 480px) {
  .gallery-section {
    max-width: $responsive-xtra-small;
    &__head {
      width: 100%;
    }
  }
}