@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.header {
  padding-top: 50px;
  width: 100%;
  &__container {
    @include alignment-block;
    position: relative;
  }
  &__body {
    width: 100%;
    @include flex-space;
    align-items: center;
    height: 43px;
  }
  &__logo {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color: $brand-color-dark;
  }
  &__menu-burger {
    display: none;
  }
  &__list {
    display: flex;

    & li:first-child {
      margin: 0;
    }
    & li {
      font-weight: 700;
      padding-top: 5px;
      list-style: none;
      margin: 0px 0px 0px 40px;
    }
  }
  &__link{
    &:hover {
      color: $brand-color-orange;
    }
  }
  &__buttons {
    width: 194px;
    display: flex;
    height: 100%;
    & button { 
      @include hover-button-orange;
    }
  }
  &__btn-log-in {
    width: 92px;
  }
  &__sign-up {
    width: 103px;
  }
}

@media (max-width: 1200px) {
  .header {
    max-width: 900px;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .header {
    padding-top: 30px;
    &__container {
      max-width: $responsive-large;
    }
    &__menu-burger {
      padding-top: 10px;
      display: block;
      cursor: pointer;
    }
    &__menu {
      width: 150px;
      background-color: #fff;
      position: absolute;
      margin-top: 220px;
      right: 150px;
      display: none;
    }
    &__list {
      & li:first-child {
        margin-left: 40px;
      }
      display: block;
    }
  }
  .show {
    display: block;
    z-index: 5000;
  }
} 


@media (max-width: 991px) {
  .header {
    &__container {
      max-width: $responsive-medium;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 10px;
    &__container {
      max-width: $responsive-small;
    
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 10px;
    &__container {
      max-width: $responsive-xtra-small;
    }
    &__buttons {
      width: 120px;
    }
    &__menu-burger {
      display: none;
    }
  }
}