
.introducing-section {
  @include alignment-block;
  padding-top: 50px;
  &__intro {
    width: 200px;
    height: 30px;
    @include intro-bar;
  }
  &__content {
    @include flex-space;
  }
  &__title{
    @include heading;
    font-size: 52px;
    max-width: 667px;
  }
  &__subtitle {
    max-width: 382px;
    line-height: 30px;
    font-size: 20px;
    color: #6A6A6A;
  }
  .imageSlider {
    max-width: 1100px;
    max-height: 566px;
    display: flex;
    &__first img  {
      height: 566px;
      object-fit: fill;
    }
    &__second img {
      width: 100%;
    }
  }
  .slick-dots {
    & .slick-active {
      width: 40px;
      background-color: $brand-color-orange;
      opacity: 1;
    }
    bottom: 40px;
    li {
      margin: 0 2px;
      width: 16px;
      height: 4px;
      background-color: white;
      opacity: 0.5;
      button::before {
        content: '';
      }
      
    }
  }
}

@media (max-width: 1200px) {
  .introducing-section {
    max-width: $responsive-large;
  }
}

@media (max-width: 991px) {
  .introducing-section {
      max-width: $responsive-medium;
      &__content {
        align-items: center;
      }
  }
}

@media (max-width: 768px) {
  .introducing-section {
    max-width: $responsive-small;
    &__content {
      display: block;
    }
    &__title {
      font-size: 1.8rem;
      margin: 20px 0;
    }
    &__subtitle {
      font-size: 1rem;
      line-height: 1.2rem;
      margin: 20px 0;
    }
  }
}
@media (max-width: 480px) {
  .introducing-section {
    max-width: $responsive-xtra-small;
  }
}