.news-section {
  width: 100%;
  background: #F8F8F8;
  margin-top: 40px;
  &__wrapper {
    max-width: 1110px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  &__head {
    margin-bottom: 40px;
    @include flex-space;
    align-items: center;
  }
  &__title{
    text-align: center;
    font-size: 52px;
    font-size: 40px;
    @include heading;
  }
  &__more a{
    height: 24px;
    margin: auto;
    width: 100px;
    color: $brand-color-orange;
    display: grid;
    grid-template-columns: 80px 20px;
  }
  .news-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    .item:hover {
      transition: 1s;
      transform: scale(1.1);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(185,185,185,0.52); 
      box-shadow: 5px 5px 15px 5px rgba(185,185,185,0.52);
    }
    p {
      margin: 0;
    }
    &__user {
      display: grid;
      grid-template-columns: 70px 200px;
    }
    &__img {
      grid-column: 1;
      grid-row: 1/3;
    }
    &__name {
      font-size: 18px;
      line-height: 28px;
      color: $brand-color-dark;
    }
    &__career {
      line-height: 26px;
      color: $grey;
    }
    &__item {
      
      &_large {
        grid-column: 1 / 3;
        display: flex;
        width: 730px;
        height: 320px;
        background-color: #fff;
        .news-content{
          &__text{
            margin: 32px 32px 20px 32px;
            display: grid;
          }
          &__title_large {
            font-size: 32px;
            line-height: 41px;
            color: $black;
            font-family: 'Lora', serif;
          }
        }
      }
      &_small {
        width: 350px;
        height: 320px;
        background-color: #fff;
        .news-content {
          &__text {
            margin: 16px;
          }
        }
        
      }
    }
    &__subtitle {
      line-height: 26px;
      color: $grey;
    }
  }
}

@media (max-width: 1200px) {
  .news-section {
    &__wrapper {
      max-width: $responsive-large;
    }
    .news-content {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media (max-width: 992px) {
  .news-section  {
    &__title {
      font-size: 1.6rem;
    }
    &__wrapper {
      max-width: $responsive-medium;
    }
    .news-content {
      &__item {
        &_large {
          display: none;
        }
        &_small {
          width: 250px;

        }
      }
      &__image {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .news-section {
    &__head {
      display: block;
    }
    &__wrapper {
      max-width: $responsive-small;
    }
    .news-content {
      &__item {
        &_small {
          width: 150px;
          height: 230px;
        }
      }
    }
  }
}


@media (max-width: 480px) {
  .news-section {
    &__wrapper {
      max-width: $responsive-xtra-small;
    }
  }
}