.reviews-section {
  &__head {
    max-width: 1110px;
    @include flex-space;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &__text {
    width: 400px;
  }
  &__intro {
    @include intro-bar(160px);
  }
  &__title {
    @include heading;
    font-size: 40px;
  }
  @include arrows;
  .slick-slide {
    margin: 0 15px;
  }
  .reviews-slider {
    margin-left: 180px;
    &__wrapper {
      @include blue-slide;
      grid-template-rows: 300px 60px;
      @include wrap-center(space-around);
      width: 445px;
      height: 393px;
    }
    &__text {
      margin-top: 47px;
      width: 365px;
      line-height: 30px;
    }
    p{
      margin-top: 0;
    }
    @include user-badge;
    @include slider-dots-style(0, 40px, 0 0 0 -80px);
  }
}

@media (max-width: 1200px) {
  .reviews-section {
    max-width: $responsive-large;
    margin: auto;
    .reviews-slider {
      margin-left: 0;
      .slick-dots {
        margin-left: 0;
      }
    }
    
  }
  
}

@media (max-width: 992px) {
  .reviews-section  {
    max-width: $responsive-medium;
  }
}

@media (max-width: 768px) {
  .reviews-section  {
    max-width: $responsive-small;
    &__title {
      font-size: 1.5rem;
    }
    @include arrows-size;
  }
}

@media (max-width: 480px) {
  .reviews-section  {
    max-width: $responsive-xtra-small;
    .reviews-slider {
      &__wrapper {
        display: flex;
        font-size: 0.8rem;
        width: 300px;
        height: 300px;
        justify-content: center;
      }
      &__text {
        width: 280px;
        line-height: 20px;
      }
    }
  }
  
}