.space-section {
  max-width: 1140px;
  margin: 100px auto;
  &__head {
    max-width: 1110px;
    @include flex-space;
    margin: 20px auto;
  }
  &__title{
    text-align: center;
    font-size: 51px;
    @include heading;
  }
  &__subtitle {
    @include subtitle;
  }
  @include arrows;
  .space-slider {
    &__wrapper {
      height: 420px;
      width: 350px;
      margin: auto;
    }
    @include slider-dots-style(0, 40px, 0);
    &__slide {
      .wrapper {
        &_first {
          background-color: $brand-color-dark;
          grid-template-rows: 120px 60px 120px auto;
        }
        &_second {
          background-image: url('../assets/image4.webp');
        }
        &_third {
          background-image: url('../assets/image5.webp');
        }
        &_fourth {
          background-image: url('../assets/image3.webp');
        }
        &_first, &_second, &_third, &_fourth {
          display: grid;
          align-items: end;
        }
      }
    }
    &__rectangle {
      display: flex;
      justify-content: flex-end;
      img {
        margin: auto 16px 16px auto;
        width: 90px;
        height: 90px;
      }
    }
    &__title{
      color: #fff;
      font-size: 32px;
      text-align: center;
      line-height: 60px;
      margin: auto;
    }
    &__subtitle {
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 30px;
      width: 253px;
      margin: auto;
    }
    &__text {
      text-align: center;
    }
    .slick-center {
      height: 467px;
      .space-slider__wrapper{
        background-size: cover;
        height: 467px;
      }
    }
    .slider-button {
      &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 72px;
        white-space: nowrap;
        height: 72px;
        color: #fff;
        font-size: 18px;
        transition-timing-function: ease;
        transition: 0.2s;
        cursor: pointer;
        background-color: $brand-color-orange;
      }
      
      &__text:hover {
        max-width: 255px;
      }
      
      &__caption{
        max-width: 0px;
      }
      
      &__caption:after{
        opacity: 0;
        max-width: 0;
      }
      
      &__text:hover .slider-button__caption{
        max-width: 127px;
        margin-right: 40px;
      }
      
      &__text:hover .slider-button__caption:after{
        content: 'Check avaibility';
        opacity: 1;
      }
    }
  }
}


@media (max-width: 1200px) {
  .space-section {
    max-width: $responsive-large;
  }
}

@media (max-width: 991px) {
  .space-section{ 
    max-width: $responsive-medium;
    &__head {
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .space-section{ 
    max-width: $responsive-small;
    &__head {
      display: block;
    }
    &__title {
      font-size: 1.8rem;
      float: left;
      margin: 15px;
    }
    &__subtitle {
      font-size: 1rem;
    }
    @include arrows-size;
  }
}

@media (max-width: 480px) {
  .space-section {
    &__title {
      float: none;
    }
    &__subtitle {
      display: none;
    }
    &__arrows {
      margin: auto;
    }
    .space-slider {
      &__wrapper {
        height: 380px;
        width: 280px;
      }
    
      
    }
  }
}