@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');


@import './header.scss';
@import './content-hero-section.scss';
@import './content-space-section.scss';
@import './support-section.scss';
@import './facilites-section.scss';
@import './gallery-section.scss';
@import './client-section.scss';
@import './reviews-section.scss';
@import './faq-section.scss';
@import './news-section.scss';

$slick-font-path: "../../node_modules/slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../../node_modules/slick-carousel/slick/" !default;
$slick-arrow-color: black !default; 

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";





body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

ul {
  padding: 0;
}