@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './header.scss';

body {
  font-family: 'Lato', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

ul {
  padding: 0;
}

