// colors

$brand-color-dark: #10375C;
$black: #222831;
$grey: #9A9A9A;
$brand-color-orange: #FF5722;
$dark-blue: #0D2C4A;
$red: #DD2C00;

//  sizes 

$responsive-large: 900px;
$responsive-medium: 700px;
$responsive-small: 420px;
$responsive-xtra-small: 310px;


// mixin

@mixin alignment-block {
  margin: auto;
  max-width: 1100px;
}

@mixin flex-space {
  display: flex;
  justify-content: space-between;
}

@mixin arrows {
  &__arrows{
    display: flex;
    justify-content: space-between;
    width: 168px;
    cursor:pointer;
  }
  &__arrow_prev {
    content: url("../assets/arrow1.svg");
    width:54px;
    height:30px;
  }
  &__arrow_next {
    content: url("../assets/arrow2.svg");
    width:92px;
    height:30px;
  } 
}

@mixin arrows-size {
  &__arrows {
    width: 90px;
  }
  &__arrow_prev{
    width: 30px;
  }
  &__arrow_next {
    width: 50px;
  }
}

@mixin heading {
  color: $brand-color-dark;
  font-family: 'Lora', serif;
  font-size: 40px;
}

@mixin intro-bar($width) {
  width: $width;
  font-size: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 30px;
    img {
      margin: auto;
    }
}

@mixin margin-auto-top {
  margin: auto;  
  margin-top: 100px;
}

@mixin wrap-center($jusctify) {
  flex-wrap: wrap;
  justify-content: $jusctify;
}

@mixin subtitle {
  width: 452px;
  font-size: 18px;
  color: $grey;
}

@mixin hover-button-orange {
  &:hover {
    background-color: $brand-color-orange;
    color: #fff;
    -webkit-box-shadow: 5px 5px 17px -5px $brand-color-orange; 
    box-shadow: 5px 5px 17px -5px $brand-color-orange;
  }
}

@mixin blue-slide {
  background-color: $brand-color-dark;
  display: grid;
  color: #fff;
}

@mixin slider-dots-style($li-margin, $width, $dots-margin) {
  .slick-dots {
    margin: $dots-margin;
    & .slick-active {
      width: $width;
      background-color: $brand-color-orange;
      opacity: 1;
    }
    li {
      margin: $li-margin;
      width: 40px;
      height: 4px;
      background-color: $grey;
      height: 4px;
      opacity: 0.5;
      button::before {
        content: '';
      }
    }
  }
}

@mixin user-badge {
  &__user {
    display: grid;
    grid-template-columns: 70px 200px;
  }
  &__img {
    grid-column: 1;
    grid-row: 1/3;
  }
}

